* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_social {
  position: absolute;
  top: 225px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/*
.outer {
	padding:12.5vmin 0;
	position: relative;
	text-align: center;
	font: 10vmin/1em sans-serif;
}
input {
	display:none;
}

label {
	cursor: pointer;
	position: absolute;
	display: inline-block;
	top:50%;
	left: 20vw;
	transform: translateY(-50%);
}

label:before {
	border: 1px solid #333;
	content: "\00a0";
	display: inline-block;
	height: 10vmin;
	width: 10vmin;
	left: -15vw;
	border-radius: 50%;
	position: absolute;
}

input:checked + label:before {
	border: none;
	color: #333;
	content: "\2713";
	text-align: center;
}

.inner {
	height: 10vmin;
	width: 10vmin;
	top: 50%;
	left: 5vw;
	position: absolute;
	transform: translateY(-50%);
	z-index: -1;
}
span {
	opacity:0;
	width: 25%;
	height: 25%;
	position: absolute;
	border-radius: 50%;
}

span:nth-child(1) {
	left:10vmin;
	top:50%;
	background:green;
	transform:translatey(-50%);
}

span:nth-child(2) {
	top:10vmin;
	left:50%;
	background:red;
	transform:translatex(-50%);
}

span:nth-child(3) {
	left:-2.5vmin;
	top:50%;
	background:blue;
	transform:translatey(-50%);
}

span:nth-child(4) {
	left: 50%;
	top:-2.5vmin;
	background:yellow;
	transform:translatex(-50%);
}


/* styles for  span when checkbox is checked */
/*
input:checked ~ div span:nth-child(1) {
	animation: s1 0.5s ease-in;
}
input:checked ~ div span:nth-child(2) {
	animation: s2 0.5s ease-in;
}
input:checked ~ div span:nth-child(3) {
	animation: s3 0.5s ease-in;
}
input:checked ~ div span:nth-child(4) {
	animation: s4 0.5s ease-in;
}

/* keyframes */
/*
@keyframes s1{
	0%{
		opacity:0;
		left:10vmin;
	}
	50%{
		opacity:1;
		left:12.5vmin;
	}
	100%{
		opacity:0;
		left:15vmin;
	}

}
@keyframes s2{
	0%{
		opacity:0;
		top: 10vmin;
	}
	50%{
		opacity:1;
		top: 12.5vmin;
	}
	100%{
		opacity:0;
		top: 15vmin;
	}

}
@keyframes s3{
	0%{
		opacity:0;
		left: -2.5vmin;
	}
	50%{
		opacity:1;
		left: -5vmin;
	}
	100%{
		opacity:0;
		left: -7.5vmin;
	}

}
@keyframes s4{
	0%{
		opacity:0;
		top: -2.5vmin;
	}
	50%{
		opacity:1;
		top: -5vmin;
	}
	100%{
		opacity:0;
		top: -7.5vmin;
	}

}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
